# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=25fb3b6352d4a7c7fcd902438421030ffacdcff85aa7fcfe3bd0646a1fdc5fefcc9967b12fcd0f176ad396ca80ed1622c92248fda0e53e72b6a839b00ddd3b74
REDIS_URL=redis://localhost:6379/13
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
